body{
    background-size: cover;
    color: black;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
}
nav{
    background-color: #00666c;
    box-shadow:0 5px 6px #00575c ;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* border-radius: 30px; */
    width: 100%;
    padding: 0 10px;
}
.navbar-brand{
    display: flex;
    justify-content: space-between;
    width: 95%;
    padding-left: 20px;
}
.navbar-brand a{
    color: white;
}
.nav-Name-Text{
    font-size: 1.5em;
}
.nav-link{
    text-decoration: none;
    padding: 0 1vw;
    font-size: 1em;
    line-height: 30px;
    white-space: nowrap;
}
.nav-link:hover{
    text-decoration: underline;
}
#intro-container{
    padding: 0;
    margin-top: 0px;
}
section{
    min-height: 80vh;
    padding: 60px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10vh 0;
}
#intro-container h5, #intro-container h2, #intro-container h4,
#about-Me-Container p, #my-Work p, #contact-Me-Container h3, #contact-Me-Container h5 {
    text-align: center;
    margin: 0 auto;
    font-size: 2em;
    width: 60%;
}
#topBtn{
    display:block;
    position: fixed;
    bottom: 20px;
    right: 30px;
    padding: 15px;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
    color: white;
    background-color: #00666c;
    font-size: larger;
    z-index: 99;
    
}
#contact-Email:hover{
    text-decoration: underline;
}
.my-Skills{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    justify-items: center;
    align-items: center;
}
.my-Skills-Skill{
    background-color: #00666c;
    color: white;
    border-radius: 20px;
    padding: 20px;
}
.project {
    display: flex;
    align-items: center;
    margin: 20px 0;
    width: 100%;
}
.project a{
    width: 40%;
    max-width: 100%;
}
.box{
    display: flex;
    flex-direction: column;
    height: 575px;
    overflow: scroll;
}
.box::-webkit-scrollbar{
width: 8px;
height:0;
}
.box::-webkit-scrollbar-track{
    background: transparent;
}
.box::-webkit-scrollbar-thumb{
background: #00666c;
height: 25px;
border-radius: 10px;
}
.project-Thumbnail{
    width: 100%;
    border-radius: 20px;
}
.project-Details{
width: 60%;
margin-left: 20px;
display: flex;
flex-direction: column;
text-align: left;
max-width: 100%;
}
.resume-Container{
    display: flex;
    font-size: larger;
    justify-content: center;
    align-items: center;
    margin-top: -90px;
}
a{
    color:#ffffff ;
}
a:visited{
    color:#0c0d0d;
}